{
  "TOKEN": "OTIzOTczNTcwMjEwNzA1NDY4.YcXzcQ.pEm9CY_i6jRM8TxPj7wfCuWnC10",
  "YOUTUBE_API_KEY": "AIzaSyCK-X4bqlHU5ZniPv7pP47ezfRHuC4rfrM",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
